<% title "Tag" %>
<h1>Edit tag</h1>
<div class="tags">
  <%= form_for(@tag) do |f| %>
  <table>
    <tr>
      <th align="left">Name</th>
      <td><%= @tag.name %></td>
    </tr>
    <tr>
      <th align="left">Description</th>
      <td><%= f.text_area :description, size: "50x10", class: "form-control" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit_tag("Update!") %></td>
    </tr>
  </table>
  <% end %>
  <ul>
    <li><%= link_to "Back", tag_path(@tag) %></li>
  </ul>
</div>
