<% title "Posts" %>
<h1>Posts</h1>
<div class="posts">
  <table>
    <tr>
      <th align="left">Title</th>
      <th>Category</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to_post(post) %></td> <!-- TODO: must validate :url field for xss -->
      <td><%= link_to(post.category.name, category_path(post.category)) %></td>
      <td><%= post.status.name %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
    </tr>
    <% end %>
  </table>
  <br/>
  <%= paginate(@posts) %>
</div>
