<% title "Category" %>
<h1>New Category</h1>
<div class="categories">
  <%= form_for(@category) do |f| %>
  <table>
    <tr>
      <th align="left">Name</th>
      <td><%= f.text_field :name, class: "form-control" %></td>
    </tr>
    <tr>
      <th align="left">Description</th>
      <td><%= f.text_area :description, size: "50x10", class: "form-control" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit_tag("Create!") %></td>
    </tr>
  </table>
  <% end %>
  <ul>
    <li><%= link_to "Back", "javascript:history.back()" %></li>
  </ul>
</div>
